
<head>
	<title>Crea un curso</title>
<!-- Enlace a los archivos de Bootstrap -->

</head>
<body>

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(assets/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>Administrar Cursos</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<div id="fh5co-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-push-1 animate-box">
        


      </div>
      <div class="col-md-6 animate-box">
        <h3>Datos del Curso</h3>
        <form action="#">
          <div class="row form-group">
            <div class="col-md-6">
              <!-- <label for="fname">First Name</label> -->
              <input type="text" id="fname" class="form-control" placeholder="Titulo" required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <!-- <label for="email">Email</label> -->
              <input type="text" id="email" class="form-control" placeholder="Descripcion" required>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <!-- <label for="email">Email</label> -->
              <input type="text" id="password" class="form-control" placeholder="Contrasena" required>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" value="Iniciar Sesion" class="btn btn-primary">
          </div>
          <div class="form-group">
            <input type="submit" value="Registrarse" class="btn btn-secundary">
          </div>

        </form>		
      </div>
    </div>
    
  </div>
</div>


<div class="accordion accordion-flush justify-content-around container-fluid p-4" id="accordionFlushExample">
  <div class="accordion-item">
    <div *ngFor="let curso of cursos">
      <h2 class="accordion-header text-center">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="#a{{curso.id}}">
          <div class="centrar">
          <h1>{{curso.titulo}}</h1> 
          </div>
        </button>
      </h2>
      
      <div id="a{{curso.id}}" class="accordion-collapse collapse">
        <br>
        <div class="accordion-body">
          <div style="display: flex; justify-content: center; align-items: center;">
            <img src="{{curso.imagen}}" alt="Descripción de la imagen" style="width: 70%; height: auto;">
          </div>
          <br>
          <p>
           {{curso.descripcion}}
          </p>
          <div class="card">
            
            <div class="card-body">
              
              <h5 class="card-subtitle mb-2 text-muted">Dirigido a: </h5>
            <h4>{{curso.publico}}</h4>
              <h5 class="card-subtitle mb-2 text-muted">Contenido: </h5>
              <h4>{{curso.contenidos}}</h4>
              <a href="{{curso.clases}}" class="btn btn-primary">Iniciar</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</div> 

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
</body>


