

<head>
	<title>Acerca de nosotros</title>


</head>
<br>
<br>
<div id="fh5co-steps">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Bienvenido a CURSOPOLIS</h2>
				<p class="lead">En el equipo de CURSOPOLIS, estamos comprometidos a proporcionar acceso gratuito a una amplia gama de cursos en línea. Nuestra misión es hacer que la educación sea accesible para todos, independientemente de su ubicación, edad o nivel de ingresos.</p>
				<p class="lead">Trabajamos con profesionales altamente calificados de diversas áreas para desarrollar y ofrecer cursos en línea de alta calidad. Todos nuestros cursos son gratuitos y están disponibles para cualquier persona con acceso a Internet.</p>
				<br>
				<div style="display: flex; justify-content: center; align-items: center;">
					<img src="https://media.zenfs.com/es/business_insider_m_xico_941/8c95d1526d7016a425e689353805fd27" alt="Descripción de la imagen" style="width: 70%; height: auto;">
				  </div>
				  <br>
				<p class="lead">Es una lástima que en la educación convencional todavía existan barreras que limitan el aprendizaje de los jóvenes y les impiden desarrollar todo su potencial. Desde estructuras rígidas y obsoletas hasta un enfoque excesivo en la memorización y la evaluación en lugar del aprendizaje significativo, la educación tradicional puede ser frustrante y desmotivadora para muchos estudiantes. Afortunadamente, gracias a la educación en línea gratuita, los jóvenes pueden encontrar alternativas innovadoras y accesibles que les permiten aprender de manera más efectiva y disfrutar del proceso. Es por eso que agradezco a todas las personas que visitan mis cursos y se unen a mí en este viaje de aprendizaje en línea. Juntos podemos romper las barreras de la educación tradicional y abrir nuevas oportunidades para todos.
				</p>
				<br>
			</div>
		</div>

		<h3 class="text-center fh5co-heading">Pasos para cumplir tus metas junto a Cursopolis</h3>
		<div class="row bs-wizard animate-box" style="border-bottom:0;">
			
			<div class="col-xs-3 bs-wizard-step complete">
				<div class="text-center bs-wizard-stepnum"><h4>Paso 1</h4></div>
				<div class="progress"><div class="progress-bar"></div></div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center"><p>Registrate a Cursopolis</p></div>
			</div>

			<div class="col-xs-3 bs-wizard-step active"><!-- complete -->
				<div class="text-center bs-wizard-stepnum"><h4>Paso 2</h4></div>
				<div class="progress"><div class="progress-bar"></div></div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center"><p>Elige el curso que desees</p></div>
			</div>

			<div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
				<div class="text-center bs-wizard-stepnum"><h4>Paso 3</h4></div>
				<div class="progress"><div class="progress-bar"></div></div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center"><p>Aprende a tu ritmo</p></div>
			</div>

			<div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
				<div class="text-center bs-wizard-stepnum"><h4>Paso 4</h4></div>
				<div class="progress"><div class="progress-bar"></div></div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center"><p>Sal al mundo y aplica tus conocimientos</p></div>
			</div>
		</div>

	</div>
</div>

<div id="fh5co-testimonial" class="fh5co-bg-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Testimonios de estudiantes</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row animate-box">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<div class="testimony-slide active text-center">
								<figure>
									<img src="https://th.bing.com/th/id/R.ba86f191abcb6ccac12bda31e8944491?rik=EPSUHmfN3aiKSA&riu=http%3a%2f%2f2.bp.blogspot.com%2f-FNcrmTgCf28%2fUM3MljPSiFI%2fAAAAAAAABmE%2f9XVP-9wRI4Q%2fs1600%2fCSC_0832.jpg&ehk=r6QBPhMdsU913igN5y%2fgZFkzG7yohZsQyn0h%2bVqZhIs%3d&risl=&pid=ImgRaw&r=0" alt="user">
								</figure>
								<span>Jennifer Amador, via <a href="#" class="twitter">Twitter</a></span>
								<blockquote>
									<p>&ldquo;La facilidad y comodidad de los cursos los hacen muy accesibles.&rdquo;</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony-slide active text-center">
								<figure>
									<img src="https://i.pinimg.com/originals/d5/98/b0/d598b01dd69fd544dae8c9f22361ce45.jpg" alt="user">
								</figure>
								<span>Kathering Pamela Perez Soza, via <a href="#" class="twitter">Twitter</a></span>
								<blockquote>
									<p>&ldquo;Gracias a Cursopolis pude aprender a vacanalear.&rdquo;</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony-slide active text-center">
								<figure>
									<img src="https://pbs.twimg.com/media/Fq6R6nGXsAEcvgO.jpg:large" alt="user">
								</figure>
								<span>JH, via <a href="#" class="twitter">Tiktok</a></span>
								<blockquote>
									<p>&ldquo;Que bendicion&rdquo;</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section>
	<div class="container">
	  <div class="row">
		<br>
		<h2 class="titulo-maestros">Cursos impartidos por profesionales altamente calificados</h2>
		<br>
  <div *ngFor="let curso of cursos" class="col-md-4">
	<div class="card" style="width: 18rem;">
	  <img src="{{curso.imagen}}" class="card-img-top" alt="..." style="width: 100%; height: auto;">
	  <div class="card-body">
		<h5 class="card-title">{{curso.titulo}}</h5>
		<p class="card-text">{{curso.descripcion}}</p>
		<a routerLink="/ofertas" class="btn btn-primary">¡Comenzemos!</a>
	  </div>
	</div>
  </div>
	  </div>
	  </div>
  </section>




<div id="fh5co-started" style="background-image:url(assets/images/img_bg_2.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
			  <h2>Vamos a empezar</h2>
			  <p>Inicia sesion para tener acceso a todos nuestros cursos</p>
			</div>
		  </div>
		  <div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center">
			  <p><a href="#" class="btn btn-default btn-lg">Iniciar Sesion</a></p>
			</div>
		  </div>

	</div>
</div>

		<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="js/google_map.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
