<head>
	<title>Mi Sitio Web de Cursos Gratis</title>
	<!-- Agrega el enlace a la hoja de estilo de Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<div class="container mt-4">
		<section>
			<h1 class="text-center">Bienvenido a UMDC "Universidad Mundial de Cosas"</h1>
			<p class="lead">En la Universidad Online UMDC, estamos comprometidos a proporcionar acceso gratuito a una amplia gama de cursos en línea. Nuestra misión es hacer que la educación sea accesible para todos, independientemente de su ubicación, edad o nivel de ingresos.</p>
			<p>Trabajamos con profesionales altamente calificados de diversas áreas para desarrollar y ofrecer cursos en línea de alta calidad. Todos nuestros cursos son gratuitos y están disponibles para cualquier persona con acceso a Internet.</p>
		</section>

		<hr>

		<section>
			<h2>Cursos Disponibles</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Introducción a la Programación</h5>
							<p class="card-text">Este curso es una introducción al mundo de la programación y te ayudará a aprender los fundamentos básicos de la codificación.</p>
							<div class="d-flex justify-content-between align-items-center">
								<small class="text-muted">12 lecciones</small>
								<a href="#" class="btn btn-primary">Inscribirse</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Introducción a Marketing digital</h5>
							<p class="card-text">El curso online de Marketing Digital enseña cómo utilizar herramientas y técnicas de marketing para promocionar productos y servicios en línea.</p>
							<div class="d-flex justify-content-between align-items-center">
								<small class="text-muted">12 lecciones</small>
								<a href="#" class="btn btn-primary">Inscribirse</a>
							</div>
						</div>
					</div>
				</div>
                <div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Introducción a Administración de empresas</h5>
							<p class="card-text">El curso de Administración de Empresas en línea brinda habilidades gerenciales y técnicas para una gestión eficiente de las empresas.</p>
							<div class="d-flex justify-content-between align-items-center">
								<small class="text-muted">12 lecciones</small>
								<a href="#" class="btn btn-primary">Inscribirse</a>
							</div>
						</div>
					</div>
				</div>
