<head>
	<title>Mi Sitio Web de Cursos Gratis</title>
	<!-- Agrega el enlace a la hoja de estilo de Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<div class="container mt-4">
		<section>
			<h1 class="text-center">Bienvenido a CURSOPOLIS</h1>
			<p class="lead">En el equipo de CURSOPOLIS, estamos comprometidos a proporcionar acceso gratuito a una amplia gama de cursos en línea. Nuestra misión es hacer que la educación sea accesible para todos, independientemente de su ubicación, edad o nivel de ingresos.</p>
			<p>Trabajamos con profesionales altamente calificados de diversas áreas para desarrollar y ofrecer cursos en línea de alta calidad. Todos nuestros cursos son gratuitos y están disponibles para cualquier persona con acceso a Internet.</p>
		</section>