<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.shutterstock.com/image-vector/stock-marketfinancial-market-vector-illustration-600w-743601325.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Marketing Digital</h5>
        <p>1</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.shutterstock.com/image-vector/concept-computer-programming-developing-software-600w-2149658841.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Introducción a la programación </h5>
        <p>2</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.shutterstock.com/image-vector/financial-administration-concept-consulting-company-600w-1165064974.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Administración de Empresas</h5>
        <p>3</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<section>
  <div class="container">
    <div class="row">
<div *ngFor="let ruta of [1,2,3]" class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
</div>


    </div>
    </div>


</section>

<br>
<footer>
  <p>&copy; 2023 CURSOPOLIS. Todos los derechos reservados.</p>
  <p>Kevin Raúl Casco Quinto</p>
  <p>Teléfono: (123) 456-7890 | Correo electrónico: info@cursopolis.edu.ni.xxx</p>
  <div class="social-media">
    <a href="https://www.facebook.com/umdc.edu.ni" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/umdc_ni" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/umdc_ni/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/school/umdc-ni/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <nav>
    <ul>
      <li><a href="#">Política de privacidad</a></li>
      <li><a href="#">Términos y condiciones</a></li>
    </ul>
  </nav>
</footer>