.slide{
    margin-top: 10px;

}
.slide img{
height: 65vh;
width: 45;
}
.titulo-maestros{
text-align: center;
}
.carousel-caption{
 font: Impact;
 color: black;   
}
.card{
 width: auto;
 height: auto;   
}